* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }

  .edit-name-button {
    border: none;
    background-color: transparent;
    width: 15px;
    height: 15px;
  }
  
  .hidden {
    display: none;
  }
  
  #shopping-list-item {
    width: 250px;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .shopping-list {
    list-style: none;
    padding-left: 0;
  }

  .js-list-item-name-display, .js-list-item-edit-name-display {
    margin-bottom: 15px;
  }
  
  .shopping-list > li {
    margin-bottom: 20px;
    border: 1px solid grey;
    padding: 20px;
  }
  
  .shopping-item {
    display: inline-block;
    color: grey;
    font-style: italic;
    font-size: 20px;
  }
  
  .shopping-item__checked {
    text-decoration: line-through;
  }

  .edit-name-button {
    display: inline-block;
  }

  .filter-list-controls {
    border: 1px solid grey;
    margin-top: 15px;
    padding: 15px;
  }

  #js-search-list-controls {
    margin-bottom: 10px;
  }